{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, [ "" ], [ "" ], [ "Ta-", "Le-", "Ga-", "Po-", "Onu-", "Ko-", "Av-", "Fe-", "Fa-", "De-", "Vo-", "Ce-" ] ],
      [ "Aft", "Agni", "Aodhan", "Balta", "Brander", "Dezalk", "Jaller", "Kalama", "Kapura", "Keahi", "Lhikan", "Maglya", "Norik", "Nuhrii", "Sarda", "Tiribomba", "Vakama", "Vohon", "Vultraz" ],
      [ { "mode" : "alts" }, [ "" ], [ "" ], [ "" ], [ "" ], [ "" ], [ "" ], [ "" ], [ "", "", "", "", "", "", "", " Nui" ] ]
    ]
  ]
}
